body {
	box-sizing: border-box;
	font-size: 100%;
}

#game {
	background-color: yellow;
	overflow: auto;
}

.grid {
	width: 45%;
	float: left;
	border: 1px black solid;
}

#theirgrid {
	border-left: none;
}

#gameform {
	clear: left;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}

td {
	
	border: 1px solid black;
	/*width: 20px;*/
	height: 20px;
}

.gamegrid {
	margin: 10% auto 10%;
}

a {
	display: inline-block; /* allow sizing the anchors inside tables */
	width: 30px;
	height: 30px;
	border: none;
	text-align: center;
}

td:hover {
	background-color: blue;
}

.chosen {
	background-color: gray; /* for own battleships */
}

button.disabled {
	background: linear-gradient(to top, #CCC 40%, #EEE);
	color: #AAA;
	border: none;
}

button.enabled {
	background: linear-gradient(to top, #0C0 50%, #8C8);
	border: none;
}

button.enabled:hover {
	color: white;
}

.enemyShip {
	background-color: #DDD;
	color: #000;
}

.hit { /* compound classes just in testing phase to ensure that I'm hitting a ship? (ex: .hit.enemyShip) */
	background-color: red;
}

.miss {
	background-color: white;
}